body {
  background-color: rgb(103, 116, 111);
  text-align: center;
  border-style: double;
}
#first{
  background-color: rgb(43, 198, 226);
  border-style: dotted dashed solid double;
}
#second{
  background-color: rgb(95, 235, 235);
  border-style: dotted dashed solid double;
}
#third{
  background-color: rgb(0, 89, 255);
  border-style: dotted dashed solid double;
}
#forth{
  background-color: rgb(83, 43, 226);
  border-style: dotted dashed solid double;
}
#five{
  background-color: rgb(56, 148, 128);
  border-style: dotted dashed solid double;
}
div{
  text-align-last: left;
  border-style: solid;
}
