body {
  background-color: aquamarine;
  text-align: center;
}
#first{
  background-color: blueviolet;
}
#second{
  background-color: rgb(223, 226, 43);
}
#third{
  background-color: rgb(43, 107, 226);
}
#forth{
  background-color: rgb(226, 43, 186);
}
#five{
  background-color: rgb(45, 182, 51);
}
div{
  text-align-last: left;
}